body, html{
    font-family: "Montserrat";

}
.title{
    font-size: 17px;
    position: absolute;
    left: 100px;
    color: #ffffff;
    z-index: 3;
    top: 20px;
}
.image{
    position: absolute;
    margin: 0 0 0 0;
    top: 0px;
    left: 0px;
    width: 1920px;
    z-index: 1;

}
.WebName{
    position: absolute;
    top: 240px;
    left: 97px;
    color: #ffffff;
    z-index:2;
    font-size: 50px;
}
.intro{
    position: absolute;
    top: 320px;
    left: 100px;
    color: #ffffff;
    z-index:2;
    font-size: 20px;
}
.servicebtn{
    width: 250px;
    height: 60px;
    border-radius: 24px;
    background-color: #63c98c;
    outline:0;
    border:0;
    position: absolute;
    top: 460px;
    left: 100px;
    color: #ffffff;
    z-index:2;
    font-size: 20px;
    font-family: "Montserrat";

}
.designbtn{
    width: 250px;
    height: 60px;
    border-radius: 24px;
    background-color: #63c98c;
    position: absolute;
    top: 460px;
    left: 400px;
    color: #ffffff;
    z-index:2;
    font-size: 20px;
    outline:0;
    border:0;
    font-family: "Montserrat";

}
.designbtn:hover{
    background-color: rgba(255,255,255, 0.0);
    color: #63c98c;
    border: 2px solid #63c98c;
    cursor:pointer;
}
.servicebtn:hover{
    background-color: rgba(255,255,255, 0.0);
    color: #63c98c;
    border: 2px solid #63c98c;
    cursor:pointer;
}
.visit_log{
    position: absolute;
    top: 31px;
    left: 290px;
    z-index: 4;
    color: #ffffff;
}
.copyright{
    position: absolute;
    top: 1320px;
    left: 100px;
    z-index: 4;
    color: #bcbcbc;
}
